:root {
    --font-color: #f5f5f5;
    --background-color: #030303;

    /* padding */
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --nav-padding: 15px 30px;
    --sec-padding: 15px 30px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
}
