:root {
  --font-color: #f5f5f5;
  --background-color: #030303;
  --btn-bg-color: #292929;
  --btn-hover-bg-color: #333333;
  --border-color: #979797;

  /* padding */
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --nav-padding: 15px 30px;
  --sec-padding: 15px 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--nav-padding);
  border-bottom: 3px solid #979797;
}

nav button {
  background-color: var(--btn-bg-color);
  color: var(--font-color);
  border: none;
  padding: var(--padding-md) var(--padding-lg);
  cursor: pointer;
}

nav button:hover {
  background-color: var(--btn-hover-bg-color);
}
