:root {
    --font-color: #f5f5f5;
    --background-color: #030303;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
}
