:root {
  --font-color: #f5f5f5;
  --background-color: #030303;
  --btn-bg-color: #292929;
  --btn-hover-bg-color: #333333;
  --border-color: #979797;

  /* padding */
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --nav-padding: 15px 30px;
  --sec-padding: 15px 30px;

  /* border radius */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
  --border-radius-xl: 20px;

  /* gap */
    --gap-sm: 5px;
    --gap-md: 10px;
    --gap-lg: 15px;
    --gap-xl: 20px;
    --gap-xxl: 25px;

}   

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--nav-padding);
  border-bottom: 3px solid #979797;
}

nav button {
  background-color: var(--btn-bg-color);
  color: var(--font-color);
  border: none;
  padding: var(--padding-md) var(--padding-lg);
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  transition: all 0.3s ease-in-out;
}

nav button:hover {
  background-color: var(--btn-hover-bg-color);
  border-radius: var(--border-radius-md);
}

section {
    padding: var(--sec-padding);
    display: flex;
    gap: var(--gap-lg);
    justify-content: space-between;
    background-color: #4402fc;
    flex-grow: 1;
}

section .column {
    background-color: #121212;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius-sm);
    padding: var(--padding-lg);
}
